.e49_29 { 
	color:rgba(252.87500202655792, 244.4458383321762, 244.4458383321762, 1);
	width:473px;
	height:101px;
	position:absolute;
	left:483px;
	top:268px;
	font-family:Imprima;
	text-align:center;
	font-size:80px;
	letter-spacing:0;
}